<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!-- Meta tags required for bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- VueJS package, development version -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body class="container-fluid" style="padding-top:4em">
        <div id="app">
            <nav class="navbar navbar-expand navbar-light bg-light fixed-top">
                <span class="navbar-brand mb-0 h1">Sift</span>

                <div class="navbar-collapse collapse">
                    <form class="mx-2 my-auto d-inline w-100" v-on:submit.prevent="recipeSearch">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search" v-model="searchTerm">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">Search</button>         
                            </div>
                        </div>
                    </form>
                </div>
            </nav>

            <div class="filters" style="overflow: auto; white-space: nowrap; padding-bottom: 15px">
                <button v-for="source in filterSources" type="button" class="btn btn-outline-primary mx-1" data-toggle="button"
                    v-on:click="addToFavorites(source)">{{source}}</button>
            </div>

            <!--Temporary test div to display favoriteSources-->
            <div>
                <ul>
                    <li v-for="source in favoriteSources">
                        {{source}}
                    </li>
                </ul>
            </div>

            <div class="card-columns">
                <result-card v-for="recipe in recipes"
                    v-bind:name="recipe.label"
                    v-bind:source="recipe.source"
                    v-bind:url="recipe.url"
                    v-bind:img="recipe.image">
                </result-card>
            </div>

        </div>

        <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <script>
            Vue.component('result-card', {
                props: ['name','source','url','img'],
                template: '\
                <div class="card" style="display: inline-block" v-show="name">\
                    <img class="card-img-top" v-bind:src="img">\
                    <div class="card-body">\
                        <h4 class="card-title">{{name}}</h4>\
                        <small v-show="url">by <a v-bind:href="url" class="card-link">{{source}}</a></small>\
                    </div>\
                </div>\
                '
            })
            
            var app = new Vue({
                el: '#app',
                data: {
                    recipes: [],
                    favoriteSources: [],
                    searchTerm: ""
                },
                computed: {
                    filterSources: function() {
                        var sources = []
                        this.recipes.forEach(function (recipe) {
                            if (sources.indexOf(recipe.source) === -1)
                                sources.push(recipe.source)
                        })
                        return sources.sort()
                    }
                },
                methods: {
                    //Search with no filters
                    recipeSearch: function () {
                        var app = this
                        app.recipes = []
                        
                        $.getJSON("https://api.edamam.com/search?q=" + this.searchTerm + "&app_id=1a3c4674&app_key=4dc3b79571f6296aef24bb347b2a75fc&from=0&to=50",
                            function(json) {
                                json.hits.forEach(function (result) {
                                    app.recipes.push(result.recipe)
                                })
                            }
                        );
                    },
                    //For performing a new search with site filters selected
                    filterSearch: function() {
                        var app = this
                        app.recipes = []

                        $.getJSON("https://api.edamam.com/search?q=" + this.searchTerm + "&app_id=1a3c4674&app_key=4dc3b79571f6296aef24bb347b2a75fc&from=0&to=50",
                            function(json) {
                                var filteredRecipes = json.hits.filter(function (result) {
                                    return (app.favoriteSources.indexOf(result.recipe.source) !== -1)
                                })
                                filteredRecipes.forEach(function(result) {
                                    app.recipes.push(result.recipe)
                                })
                            }
                        );
                    },

                    addToFavorites: function(source) {
                        var app = this
                        if (this.favoriteSources.indexOf(source) === -1){
                            this.favoriteSources.push(source)
                        }
                    }
                }
            })
        </script>
    </body>
</html>