
/* Makes card columns responsive */
@media (min-width: 0px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

body {
    padding-top: 4em
}

.filters {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 15px;
}